*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ae9b9b;
    font-family: 'Poppins', sans-serif;
}
nav > img{
    aspect-ratio: 1/1;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0fdf4;
  padding: 1.5rem;
}
.header {
  font-size: 3rem;
  font-weight: bold;
  color: #047857;
  padding: 1rem 0;
}
.content {
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  max-width: 50%;
}
.main-text {
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 3.75rem;
}
.sub-text {
  font-size: 1.125rem;
}
.description {
  font-size: 1.25rem;
  color: #4b5563;
  max-width: 32rem;
  margin: 1.25rem 0 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
}
.stats {
  display: flex;
  height: 1.25rem;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
}
.stat-item {
  text-align: center;
}
.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
}
.right-section {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 36rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.right-header {
  font-size: 1.875rem;
  font-weight: 600;
  color: #047857;
  margin-bottom: 1rem;
}
.list {
  list-style-type: disc;
  list-style-position: inside;
  color: #4b5563;
  gap: 0.5rem;
}
.list-item {
  margin-bottom: 0.5rem;
}
.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}


.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58a1bc;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* max-width: 300px; */
    margin: 0 auto;
    padding: 1rem;
  }

  .inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 80%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
  }
  
  .form input[type="email"]:focus,
  .form input[type="password"]:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-size: large;
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .form .submit:is(:disabled){
      cursor: not-allowed;
  }
  
  .form .submit:hover:not(:disabled) {
      background-color: var(--clr);
      color: var(--bg-dark);
  }
  

  .about{
    width: 100vw;
    height: 75vh;
    background-color: #1e3726;
  }

  .contact{
    width: 100vw;
    height: 25vh;
    background-color: #3e644a;
  }
  
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #f3e7e7;
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.header img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}


.header h1 {
  font-size: 2em;
  color: #0056b3;
  font-weight: bold;
}


.welcome-message {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  color: #ffd1d1;
}

