.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0fdf4;
  padding: 1.5rem;
}
.header {
  font-size: 3rem;
  font-weight: bold;
  color: #047857;
  padding: 1rem 0;
}
.content {
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  max-width: 50%;
}
.main-text {
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 3.75rem;
}
.sub-text {
  font-size: 1.125rem;
}
.description {
  font-size: 1.25rem;
  color: #4b5563;
  max-width: 32rem;
  margin: 1.25rem 0 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
}
.stats {
  display: flex;
  height: 1.25rem;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
}
.stat-item {
  text-align: center;
}
.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
}
.right-section {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 36rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.right-header {
  font-size: 1.875rem;
  font-weight: 600;
  color: #047857;
  margin-bottom: 1rem;
}
.list {
  list-style-type: disc;
  list-style-position: inside;
  color: #4b5563;
  gap: 0.5rem;
}
.list-item {
  margin-bottom: 0.5rem;
}
.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}
