body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    padding: 30px;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
    padding: 20px;
}

.session{
    height: 250px;
    width: 45%;
    background: linear-gradient(60deg,#3387A1,#6FD0F0,#F7AC82);
    border-radius: 30px;
}

.session:hover {
    transform: translateY(-10px);
}

h2{
    color: black;
    font-size: 30px;
}

#pending{
    color: black;
    font-size: 25px;
}

#btn{
    padding: 12px 25px;
    font-size: 1.1em;
    font-weight: bold;
    background: linear-gradient(135deg, #0056b3, black);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

section{
    display: block;
    margin-top: 20px;
    background-color: white;

}
